
a, a:link{
  text-decoration: none;
  color: #333;
}
a:hover{
  color: #333;
}

.link{
  color: #333;
}

/* topnav.css */
.navbar-toggler{
  border: none !important;
}
.nav-item li{
  list-style: none;
}


/* Search.css */
.inputbox{
  width: 550px;
  text-align: center;
  margin: 0 auto;
}
.inputbox input{
  width: 100%;
  border-radius: 50px !important;
}
.inputbox .sicon{
  top: 10px;
  left: 510px;
}

/* .postmodal */
.postmodal{
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}