a, a:link{
  text-decoration: none;
  color: #333;
}
a:hover{
  color: #333;
}
/* li{
  list-style: none;
} */
.link{
  color: #333;
}

/* topnav.css */
.navbar-toggler{
  border: none !important;
}


/* Search.css */
/* .inputbox .form-control{
  width:60% !important;
  border-radius: 50px !important;
}
.inputbox .sicon{
  right: 150px;
  bottom: 3px;
} */
.inputbox{
  width: 450px;
  text-align: center;
  margin: 0 auto;
}
.inputbox input{
  width: 100%;
  border-radius: 50px !important;
}
.inputbox .sicon{
  top: 10px;
  left: 410px;
}

/* Category.jsx */
.nav-link{
  color:#333 !important;
  padding: 10px 35px !important;
}

.nav-tabs{
  border-radius: -50px;
}

.tab-pane{
  border:1px solid rgb(214, 212, 212) !important;
  border-top:none !important;
  border-radius: 10px;
  font-size: 15px;
}
.tab-pane li{
  margin-top:20px;
}
.tab-pane li::marker{
    color:#0c029b;
}

.tab-pane li:hover{
  cursor: pointer;
  color:#ac7070;
}

/* info */

.info p{
  opacity: 0.8;
}


.card-body{
  position: relative;
  justify-content: center;
}

.card-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 25px;
  font-weight: 900;
}

.card-text{
  /* white-space: nowrap; */
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #777;
  font-size: 15px;
}

.card-btn{
  display: flex;
  justify-content: center;
}
.carousel-inner{
  display: flex;
  align-items: center;
}

.carousel-itemcarousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* InfoDetail */
.detail-img{
  width: 350px;
  height: 350px;
  border: 1px solid #d8d6d6;
  border-radius: 50px;
}

.time{
  margin-right: 5px;
}

/* .time-text{
  font-size: 23px;
  font-weight: 800;
  color: rgb(135, 120, 120);
} */

.title h1{
  font-size: 28px;
  border-bottom: 1px solid #d8d6d6;
  padding-bottom: 15px;
}

.detail-box h1{
  font-size: 28px;
  font-weight: 800;
  /* border-top: 1px solid #0c029b; */
  border-width:5px;
  padding-top: 10px;
}

.p-transport h1{
  font-size: 23px;
  font-weight: 800;
  color: rgb(135, 120, 120);
  padding-top: 10px;
}

.p-transport h1::before{
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  margin-bottom: 16px;
  background-color: #3E54AC;
}



.p-transport p{
  color:#807e7e;
}

.p-transport span{
  margin-right: 8px;
}

.bus, .parking{
  margin-top: 60px;
}

.reservation{
  position: relative;
  top: 100px;
}

.reserv-btn{
  position:absolute;
  padding: 10px 40px;
  border-radius: 20px;
  background-color: #3E54AC;
  align-items: center;
  justify-content: center;
  border: none;
}

.reserv-btn> a{
  color: #fff;
}

.p-transport li{
  padding-bottom: 10px;
}

/* ReservList */

.reserv-title{
  font-weight: 800;
}

.reserv{
  margin-top: 80px;
}

.list-box{
  border: 1px solid #dfdbdb;
  border-radius: 30px;
  padding: 30px;
  margin-top: 40px;
  cursor: pointer;

}

.list-box:hover{

}

.list-title h4{
  font-weight: 800;
}

.date{
  color: #537FE7;
  font-weight: 700;
}

.del-btn{
  top: 20px;
}

.del-btn>button{
  padding: 15px 40px;
  border: 10px;
  border-radius: 10px;
  background-color: #3E54AC;
  color: #fff;
}

.del-btn>button:hover{
  background-color: #BFACE2;
}



